.note {
    font-variant: small-caps;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 10px;
    background-color:gold;
    padding: 15px;
}

img.img-responsive {
    border: solid 1px maroon;
}